.choice
    padding: 57px 0 138px 0
    min-height: 896px
    background: url('/img/choice/bg.png') center center/cover no-repeat
    &__car
        display: block
        margin: 0 auto
        margin-top: 56px
    &__descr
        color: #222222
        font-size: 17px
        font-weight: 300
        margin-top: 4px
        text-align: center