.header
    min-height: 84px
    width: 100%
    padding: 19px 0 19px 0
    background-color: rgba(0,0,0,0.6)
    &__call-us-message
        color: #ffffff
        font-family: Roboto
        font-size: 12px
        font-weight: 300
    &__call-us-number
        color: #ffffff
        font-family: Roboto
        font-size: 22px
        font-weight: 400
        text-transform: uppercase

@media ( max-width: 425px)
    .header
        padding: 11px 0 9px 0
        &__logo
            margin-top: 3px
            img
                width: 100%
            width: 130px
            height: 0px
        &_call-us-wrapper
            margin-top: 10px
        &__call-us-message
            display: none
        &__call-us-number
            font-size: 12px
    