.reasons
    padding: 71px 0 65px 0
    &__item
        display: flex
        margin-top: 35px
        flex-wrap: wrap
        &:nth-child(-n+2)
            margin-top: 40px
    &__icon
        width: 113px
        height: 113px
        background-color: #1eacc7
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        margin-right: 26px
    &__descr
        width: 341px
        color: #202020
        font-size: 15px
        font-weight: 300
        span
            color: #1eacc7
            font-size: 17px
            font-weight: 400
    
@media (max-width: 1025px)
    .reasons
        &__item
            justify-content: center
        &__descr
            font-size: 17px
            align-items: flex-start

@media ( max-width: 425px)
    .reasons
        padding: 22px 0 46px 0
        &__item
            margin-top: 27px
            &:first-child
                margin-top: 28px
        &__descr
            margin-top: 27px
    