.title
    margin: 0
    display: block
    text-align: center
    color: #222222
    font-size: 38px
    font-weight: 700
    text-transform: uppercase
    margin-top: 38px
    &_white
        color: #ffffff

.subtitle
    text-align: center
    margin-top: 19px
    font-size: 17px
    &_white
        color: #ffffff